<!DOCTYPE html>
<html>
  <head>
    <title>Your Notes</title>
    <link rel="stylesheet" type="text/css" href="/notes.css" />
  </head>
  <body>
    <h1>Welcome, <%= username %>!</h1>

    <div class="link-container">
      <a href="/notes/add">Add a New Note</a>
      <a href="/notes/search">Search Notes</a>
    </div>
    <% if (notes.length > 0) { %>
    <ul>
      <% notes.forEach(function(note) { %>
      <li>
        <h3><%= note.title %></h3>
        <p>
          <strong>Category:</strong> <%= note.category %>,
          <strong>Week:</strong> <%= note.week %>
        </p>

        <p><%= note.content %></p>

        <!-- add location message when create new note-->
        <p>
          <strong>Created At:</strong> <%= note.created_at %> <br />
          <strong>Location:</strong> <%= note.location_name || 'none' %> <br />
          <!-- <p><strong>Latitude:</strong> <%= note.latitude ? note.latitude.toFixed(2) : 'none' %>, <strong>Longitude:</strong> <%= note.longitude ? note.longitude.toFixed(2) : 'none' %></p> -->
        </p>

        <form
          action="/notes/delete/<%= note.id %>"
          method="post"
          style="display: inline"
        >
          <button type="submit">Delete</button>
        </form>
        <a href="/notes/edit/<%= note.id %>">Edit</a>
      </li>
      <% }); %>
    </ul>
    <% } else { %>
    <p>No notes found.</p>
    <% } %>

    <div class="footer-buttons">
      <a href="/" class="footer-button">Back to Home page</a>
      <a href="/users/logout" class="logout-link" class="footer-button"
        >Logout</a
      >
    </div>
  </body>
</html>
